{% extends "base_generic.html" %}

{% block projects_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/projects.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    {%endblock%}

      {% block content %}

      {% if remaining_projects %}
      <div class="body">
        <h4>Explore <span style="color: rgb(0, 158, 116);">{{remaining_projects | length}} Projects</span></h4>
        <div class="card-container--2">
        {% for project_id, project_percentage in percentage_funded %}
          {% for project in remaining_projects %}
          {% if project.id == project_id and project.creator.username != user.username %}
        <div class="card--2">
          <a href="{% url 'view_project' project_id %}">
            <div class="card--display">
              <!-- add thumbnail pic or something below -->
              <img class="card-image" src={{project.Photourl}} alt="thumbnail for the project">

              <h2>{{ project.title }}</h2>

              <p>{{ project.creator.user.username }}</p>
              <span><i class='bx bx-time-five'></i>{{ project.remaining_time }} </span><br>
              <span>{{project_percentage}}% funded</span>
            </div>

            <div class="card--hover">
              <h2>{{ project.title }}</h2>
              <p>{{project.description}}</p>
              <p class="link">Click to see project</p>
            </div>
          </a>
          <div class="card--border"></div>
        </div>
        {% endif %}
            {% endfor %}
            {% endfor %}
      </div>
    </div>
    {% endif %}
        
{% endblock %}