.profile-link {
  margin-right: 10px; /* Adjust the spacing around My Profile link */
}

.navbar-custom .form-inline {
  margin-right: 1rem;
}

.navbar-custom .nav-link {
  margin-right: 0.35rem;
  margin-left: 0.35rem;
}

.navbar-custom .btn-outline-danger, .navbar-custom .btn-primary {
  margin-left: 0.5rem;
}

@media (max-width: 992px) {
  .navbar-custom .nav-link, .profile-link {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
  }
}
